<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>todo-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let task of todoService.taskList; let pos = index" [color]="getTaskColor(task)">
      <ion-label>
        <h3>{{ task.taskName }}</h3>
        <p>Créée le {{ task.createdAt | date: 'd/MM/yyyy' }}</p>
        <p *ngIf="task.dueDate">Echue le {{ task.dueDate | date: 'dd/mm/yy' }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="todoService.deleteTask(pos)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button color="primary" (click)="edit(pos)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button routerLink="/todo-form">Nouvelle tâche</ion-button>
  </ion-toolbar>
</ion-footer>