<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item [color]="settingsSrv.settings.colors.pendingTask">
      <ion-label position="stacked">Couleur des tâches en cours</ion-label>
      <ion-select [(ngModel)]="settingsSrv.settings.colors.pendingTask" (ionChange)="settingsSrv.persist()">
        <ion-select-option *ngFor="let color of settingsSrv.colorNamesList" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item [color]="settingsSrv.settings.colors.doneTask">
      <ion-label position="stacked">Couleur des tâches terminées</ion-label>
      <ion-select [(ngModel)]="settingsSrv.settings.colors.doneTask" (ionChange)="settingsSrv.persist()">
        <ion-select-option *ngFor="let color of settingsSrv.colorNamesList" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>