<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo-list">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Params</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>